.comentarios-editor-button{
    background-color: orangered;
    color: white;
}



.comentarios-editor-button:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(234 88 12 / var(--tw-bg-opacity, 1));
}


