@keyframes marquee-scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.news-mask-container {
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scrolling-text {
    animation: marquee-scroll 5s linear infinite;
    white-space: nowrap;
    display: inline-block;
    padding-left: 1rem;
    color: black;
}