
.parametros{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.parametros-de-cuenta{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}



.butondeperfil{
  position: fixed;
}
